* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}

:root {
  --bg: #f3f3f3;
  --text: #222;
  --card: #fff;
  --border: #ddd;
}

body.dark {
  --bg: #181818;
  --text: #f1f1f1;
  --card: #242424;
  --border: #333;
}

.hidden { display: none; }

/* LOGIN */
.login-container {
  max-width: 400px;
  margin: 120px auto;
  text-align: center;
}
.login-container input {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
}
.login-container button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border: none;
  background: #0077ff;
  color: #fff;
  border-radius: 8px;
}

/* NAVBAR */
.navbar {
  padding: 15px;
  background: var(--card);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#searchInput {
  width: 40%;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 6px;
}

/* PROFILE */
.profile {
  text-align: center;
  margin: 30px 0;
}
.avatar {
  width: 100px;
  border-radius: 50%;
}

/* CREATE POST */
.create-post {
  background: var(--card);
  padding: 20px;
  border: 1px solid var(--border);
  margin: 20px auto;
  width: 90%;
  border-radius: 12px;
}
textarea {
  width: 100%;
  height: 90px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--border);
}
#postBtn {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border: none;
  background: #0077ff;
  color: white;
  border-radius: 10px;
}

/* DRAG & DROP */
.drop-zone {
  margin-top: 10px;
  padding: 20px;
  border: 2px dashed var(--border);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.drop-zone.dragover {
  background: rgba(0, 119, 255, 0.1);
}

/* FEED */
.feed {
  width: 90%;
  margin: 20px auto;
}
.post {
  padding: 20px;
  background: var(--card);
  border-radius: 12px;
  border: 1px solid var(--border);
  margin-bottom: 20px;
}
.post img {
  width: 100%;
  margin-top: 10px;
  border-radius: 12px;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  #searchInput { display: none; }
  .create-post, .feed { width: 95%; }
}
